
body
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    background-color: navy;
    text-align: center;
}
//using template for nav-bar
#nav-bar {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#nav-bar li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#nav-bar a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#nav-bar a:hover {
	background-color:#009;
	color:#fff;
}
h1
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    text-align: center;
}
h2
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    text-align: center;
}
h3
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    text-align: center;
}
p
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    text-align: center;
}
ul
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    text-align: center;
}
li
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    text-align: center;
}
img
{
display: block;
margin-left: auto;
margin-right: auto;
max-height: 200px;
max-width: 250px;
width: 150px;
height: 200px;
}
  

iframe
{
    max-width: 350px;
    max-height: 315px;
    width: 350px;
    height: 315px;
}
