
body
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    background-color: navy;
    align-self: center;
}
nav
{
    #mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
h1
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
h2
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
h3
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
p
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
ul
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
li
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
img
{
    max-width: 400px;
    max-height: 350px;
    width: 325px;
    height: 320px;
}
iframe
{
    max-width: 350px;
    max-height: 315px;
    width: 350px;
    height: 315px;
}
