
body
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    background-color: navy;
    align-self: center;
}
nav
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    align-self: center;
}
h1
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
h2
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
h3
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
p
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
ul
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
li
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: red;
    align-self: center;
}
img
{
    max-width: 400px;
    max-height: 350px;
    width: 325px;
    height: 320px;
}
iframe
{
    max-width: 350px;
    max-height: 315px;
    width: 350px;
    height: 315px;
}
